// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$cancel: #e81919;
$progress: #e89f19;
$success: #4BB543;

// Transition 
$smooth: all .3s ease-in-out;